.container {
    width: 100%;
    max-width: 600px; 
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
  
  }
  
  .header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .text {
    font-size: 50px;
    margin-bottom: 10px;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .underline {
    width: 50px;
    height: 2px;
    background-color: black;
    margin: 0 auto;
  }
  
  .inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .input {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .input img {
    width: 30px; 
    height: auto;
    margin-right: 10px;
  }
  
  .input input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .custom-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .custom-button:hover {
    background-color: #0056b3;
  }
  
  